{% extends "homepage/base.html" %}
{% block title %}Linsenblog - Updated eventually!{% endblock %}
{% block content %}
{% load staticfiles %}
<h1>LinsenBlog</h1>
<div class='navbar-fixed-bottom'>
	<div class="elevator-button">
		<a class="btn btn-info">Back to Top</a>
	</div>
</div>
<div class='fat'>
	<hr>
</div>
{% if notag %}
<p class="bg-danger">No blog posts with tag <b>"{{ filter }}"</b> found. <a href="/blog">Click to show all posts</a></p>
{% elif filter %}
<p class="bg-info">Showing posts with tag <b>"{{ filter }}"</b>. <a href="/blog">Click to sow all posts.</a></p>
{% endif %}
{% for b in blogs %}
	{% if b.picture %}
		<img src="{{ b.picture }}" width=60%>
	{% endif %}
	<h2>{{ b.title }}</h2>
	<h4>{{ b.subtitle }}</h4>
	<p>{{ b.date }}</p>
	<hr>
	<div class="text-left">
		{{ b.content|safe }}
	</div>
	<i><b>Tags: </i></b>| 
	{% for t in b.tags.all %}
		<a href="/blog?tag={{ t.subject }}">{{ t.subject }}</a> |
	{% endfor %}
	<div class='fat'>
		<hr>
	</div>
{% endfor %}
<script>
</script>

<script>
// Elevator script included on the page, already.

window.onload = function() {
  var elevator = new Elevator({
    element: document.querySelector('.elevator-button'),
    mainAudio: '{% static "audio/ohyeah.mp3" %}',
    endAudio: '{% static "audio/ooohyeah.wav" %}'
  });
}
</script>
{% endblock %}