{% extends "homepage/base.html" %}
{% block title %}Contact Information{% endblock %}
{% block content %}
<h1>Contact Me</h1><hr>
<h3>The absolute best way to reach me is via email, which can be found on my <a href='/static/files/maxlinsenbard-resume.pdf'>resume</a><br>
<h3>Or you can find me on the following networks:<br><br>
<div class="btn-group open">

  <a class="btn btn-primary" href="https://www.facebook.com/maxxorz12"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
  <a class="btn btn-info" href="https://twitter.com/maxxorz"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
  <a class="btn btn-primary" href="https://www.linkedin.com/pub/max-linsenbard/56/b30/228"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
  <a class="btn btn-danger" href="https://www.google.com/+MaxLinsenbard"><i class="fa fa-google-plus fa-fw"></i> Google+</a>
  <a class="btn btn-default" href="https://github.com/mlinsenbard"><i class="fa fa-github fa-fw"></i> GitHub</a>
</div>



{% endblock %}