{% extends "homepage/base.html" %}
{% block content %}
{% load staticfiles %}
<h1>Hi, I'm Max.</h1><hr>
<img src="{% static "img/me.jpg" %}" alt="Serious business" height="300px" width="300px"><br><br>
<p>I'm a Computer Science Major and Music Minor at Cal Poly SLO. I'm interested in working with medical devices and video games in the tools engineering or QA fields. I also make music when I get free time. </p>
<div class="text-left">
	<p><a href="/blog/"><i class="fa fa-newspaper-o fa-fw"></i></a> Visit my <a href="/Blog/">Blog</a> for updates on what I'm doing along with other rants.
	<p><a href="/contact/"><i class="fa fa-user fa-fw"></i></a> Visit the <a href="/contact/">Contact</a> page for information on contacting me.</p>

	<p><a href="/programming/"><i class="fa fa-code fa-fw"></i></a> Visit my <a href="/programming/">Programming</a> page for a list of projects and my <a href='/static/files/maxlinsenbard-resume.pdf'>resume</a>.</p>

	<p><a href="/music/"><i class="fa fa-music fa-fw"></i></a> Visit my <a href="/music/">Music</a> page to see my Soundcloud submissions and listen to my music.</p>
</div>
{% endblock %}