<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
    	<title>{% block title %}The Donger's Next Best Thingymabober!{% endblock %}</title>
        <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <style>
        body {
            background-color: black;
            background-position: center;
            text-align: center;
           	cursor: url(http://cur.cursors-4u.net/holidays/hol-5/hol445.ani), url(http://cur.cursors-4u.net/holidays/hol-5/hol445.gif), progress !important; /* End http://www.cursors-4u.com */
        }
        </style>
    </head>

    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    
    <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Max Linsenbard</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/blog">Blog</a></li>
            <li><a href="/programming">Programming</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/lol">LoL</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <img src='{% static "img/lol.jpg" %}' width='35%'>

    <div class="container">
    	<div class="jumbotron">
    	<h3>Welcome, summoner, to the latest and greatest in donger technology:</h3>
    	<h2>The Spellimobulator!</h2>

        <p>Enter your strength and see what champion spell is the most efficient in battle!</p>

    	<form action="/lol/" method="post">
    		{% csrf_token %}
            {% if result %}

                <h2><b>1. <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/{{ fi.champion|lower }}/">{{ fi.champion }}</a></b> - {{ fi.spell }}: <b style="color:red">{{ fi.dps }}</b><br></h2>
                <p>
                    <b>2. <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/{{ se.champion|lower }}/">{{ se.champion }}</a></b> - {{ se.spell }}: <b style="color:red">{{ se.dps }}</b><br>
                    <b>3. <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/{{ th.champion|lower }}/">{{ th.champion }}</a></b> - {{ th.spell }}: <b style="color:red">{{ th.dps }}</b><br>
                    <b>4. <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/{{ fo.champion|lower }}/">{{ fo.champion }}</a></b> - {{ fo.spell }}: <b style="color:red">{{ fo.dps }}</b><br>
                    <b>5. <a href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/{{ fif.champion|lower }}/">{{ fif.champion }}</a></b> - {{ fif.spell }}: <b style="color:red">{{ fif.dps }}</b>
                </p>

                <a href='/lol/'>Click here to try again.</a>


            {% else %}
                <form action="/lol/" method="post">
                    {% if sform.ad.errors %}
                    <div class="alert alert-danger" role="alert">
                    {{ sform.ad.errors }}
                    </div>
                    {% endif %}
                    <h4 style="color:orange">{{ sform.ad.label }}</h4> {{ sform.ad }}<br><br>
                    
                    {% if sform.ap.errors %}
                    <div class="alert alert-danger" role="alert">
                    {{ sform.ap.errors }}
                    </div>
                    {% endif %}
                    <h4 style="color:lightgreen">{{ sform.ap.label }}</h4> {{ sform.ap }}<br><br>
                    
                    {% if sform.cdr.errors %}
                    <div class="alert alert-danger" role="alert">
                    {{ sform.cdr.errors }}
                    </div>
                    {% endif %}
                    <h4 style="color:blue">{{ sform.cdr.label }}</h4> {{ sform.cdr }}<br><br>
                    <input type="submit" value="My body is ready" />
                </form>
            {% endif %}

            <p><button id="toggle">See More About Spellimobulator</button></p>
            <p id="info" hidden>
                Spellimobulator works by calucalating the DPS of all damaging champion spells, and returning the top 5 results. 100+ of these spells have DPS values calculated by hand since they require more attention than a standard 'nuke' spell.<br><br>

                All spells are calculated with the following criteria:<br>
                1. Damage is only dealt to one, 'champion' target. (So no, Nunu's Consume is not considered a Damaging spell to Champions)
                2. No mana, enery, or other resource is taken into consideration. Spellimobulator assumes these resources are infinite.
                3. No previously active spells, passives, or other abilites are considered when caluclating DPS. Passives are also not considered in these calculations at all.
                4. These calculations are in no way accurate, as no resistances are taken into consideration.
                5. Spells that do percent health damage will not have that damage considered as the target's health is not a given variable.<br><br>

                If you would like to see more on the Spellimobulator, visit the github repository for it <a href="https://github.com/mlinsenbard/gg">here</a>. If you want to see how I hooked the python code into my website, visit the <a href="https://github.com/mlinsenbard/django">github repo</a> for my website. This web version will be more up to date than the standalone version, so be sure to check for updates.<br><br>

                <h2>Champions Currently unsupported</h2>
                <ul>
                    <li>Kalista and beyond</li>
                </ul>
            </p>
    </div>
    </div>
    </body>

    <script>
        $(document).ready(function(){
            $("#toggle").click(function(){
                $("#info").toggle("fast");
            });
        });
</script>

</html>